<div class="wrapper">
<div class="top">
  <div class="top__wrapper container">
    <button class="city-selector" type="button">
      <img src="src/assets/icons/placemark-icon.svg" alt="" />
      Санкт-Петербург
      <img src="src/assets/icons/arrow-down-icon.svg" alt="" />
    </button>
    <div class="lang-list">
      <button class="lang-list__btn is-active" type="button">RU</button>
      <button class="lang-list__btn" type="button">EN</button>
    </div>
  </div>
</div>

<div class="container">
  <header class="header">
    <a class="header__logo" href="/"><img src="src/assets/img/logo.png" alt=""/></a>
    <div class="header__wrapper">
      <div class="header__desc">Продуманные решения <span class="header__desc-footer">для аналитических лабораторий</span></div>
      <form class="search-form js-search-form">
        <button class="search-form__btn" type="submit"><img src="src/assets/icons/search-icon.svg" alt="" /></button>
        <input class="search-form__field" type="text" placeholder="Поиск на сайте" />
      </form>
    </div>
    <div class="header__aside">
      <button class="header__btn btn btn-icon" type="button">
        <img src="src/assets/icons/pdf-icon.svg" alt="" />
        Скачать каталог
      </button>
      <div class="header__contacts">
        <a class="header__contacts-phone" href="tel:+78123273700">+7 (812) 327-37-00</a>
        <button class="header__contacts-link" type="button">Заказать обратный звонок</button>
      </div>
    </div>
  </header>

  <nav class="nav">
    <a class="nav__item nav__item_type_btn" href="#">
      Каталог
      <span class="nav__item-icon"><img src="src/assets/icons/arrow-down-icon.svg" alt="" /></span>
    </a>
    <div class="nav__wrapper">
      <a class="nav__item" href="#">О компании</a>
      <a class="nav__item" href="#">Производство</a>
      <a class="nav__item" href="#">Лаборатория</a>
      <a class="nav__item" href="#">Сервис</a>
      <a class="nav__item" href="#">IT-решения</a>
      <a class="nav__item" href="#">Партнёры</a>
      <a class="nav__item" href="#">События</a>
      <a class="nav__item" href="#">Контакты</a>
    </div>
    <div class="nav__aside">
      <button class="nav__btn js-search-toggler" type="button"><img src="src/assets/icons/search-icon.svg" alt="" /></button>
      <button class="nav__btn js-nav-toggler" type="button">
        <span class="nav__btn-icon nav__btn-icon_type_open"><img src="src/assets/icons/nav-icon.svg" alt="" /></span>
        <span class="nav__btn-icon nav__btn-icon_type_close"><img src="src/assets/icons/close-icon.svg" alt="" /></span>
      </button>
    </div>
  </nav>

  <section class="intro">
    <div class="pathway">
      <a class="pathway__item" href="/">
        Главная
        <img src="src/assets/icons/arrow-left-icon.svg" alt="" />
      </a>
      <span class="pathway__item pathway__item_type_current">О компании</span>
    </div>

    <div class="section content content_width_min content_fs_md">
      <h1>О группе компаний «Лабконцепт»</h1>
      <p>Группа компаний «Лабконцепт» – крупнейший отечественный производитель и поставщик аппаратных, программных и методических решений для аналитических лабораторий любого масштаба и профиля.</p>
    </div>

    <div class="section section_type_col">
      <div class="content content_fs_xl">
        <p>Нами охвачен весь цикл оснащения лаборатории: от подбора оборудования, его производства, пусконаладки и обучения сотрудников заказчика, до постгарантийного обслуживания.</p>
      </div>
      <div class="content content_fs_md content_width_min">
        <p>Более чем тридцатилетний опыт и высокие компетенции коллектива, насчитывающего свыше 170 человек, гарантируют ответственный и профессиональный подход к реализации задач различной направленности.</p>
      </div>
    </div>
  </section>

  <div class="section">
  <div class="promo">
    <div class="promo__nav">
      <button class="promo__nav-btn" type="button">Производство</button>
      <button class="promo__nav-btn" type="button">Поставка оборудования</button>
      <button class="promo__nav-btn" type="button">Программное обеспечение</button>
      <button class="promo__nav-btn" type="button">Лаборатория и учебный центр</button>
      <button class="promo__nav-btn" type="button">Сервис и технический контроль</button>
    </div>
    <div class="promo__list">
      <div class="promo__list-item">
        <div class="promo__list-title">Производство</div>
        <div class="promo__list-content">
          <p>Собственное производство лабораторных и аналитических весов I Специального и II Высокого классов точности, а также оборудования для пробоподготовки, марки Госметр.</p>
          <blockquote>В 2025 году начата локализация производства компонентов для сборки основных блоков хроматографа в РФ.</blockquote>
          <p>Узловая сборка жидкостного хроматографа LicArt 62; Разработка и производство собственных блоков для ВЭЖХ, таких как:</p>
          <ul>
            <li>весовой модуль контроля расхода растворителя;</li>
            <li>блок постколоночной дериватизации;</li>
            <li>решения для полупрепаративной хроматографии.</li>
          </ul>
        </div>
        <div class="promo__list-pic"></div>
      </div>
    </div>
  </div>
  </div>

{% set hardware = [
  'Жидкостные хроматографы собственной сборки компании Лабконцепт',
  'УФ-спектрометры, ИК-Фурье спектрометры, атомно-абсорбционные спектрометры, пламенные фотометры, ТОС-анализаторы, титраторы, мультиметры, электронные дозаторы и т.д.',
  'Газовый хроматорграфы, газовые и жидкостные хромато-масс-спектрометры, масс-спектрометры с индуктивно связанной плазмой, эмиссионный спектрометр с индуктивно связанной плазмой, микроволновые печи для разложения проб, БИК-анализаторы, автоматические концентраторы',
  'Лабораторные весы, анализаторы влажности, система очистки кислот, обеспыленное лабораторное рабочее место, система очистки посуды пропариванием, устройство для защиты аналитического оборудования от внештатных ситуаций SMMS',
  'Ионные хромографы',
  'Поляриметры, рефрактометры, автоматические татраторы, анализаторы температур плавления, анализаторы белка по Кьельдалю, экстракторы жира по методу Сокслета',
  'Роторные испарители, системы для концентрирования и твердофазной экстракции, системы термического нагрева, рециркуляционные системы охлаждения',
  'Посудомоечные машины',
] %}
  <div class="section">
  <div class="hardware">
    {% for item in hardware %}
    <div class="hardware__item">
      <div class="hardware__item-media"><img class="hardware__item-media" src="src/assets/img/logo.png" alt=""/></div>
      <div class="hardware__item-title">{{ item }}</div>
    </div>
    {% endfor %}
  </div>
  </div>

{% set features = ['Быстрые сроки поставки за счет наличия товара на складе в Санкт-Петербурге.', 'Апробация оборудования для клиентов. Уникальная возможность опробовать прибор в рамках собственной лаборатории.', 'Проведение мастер-классов, вебинаров, семинаров, участие в конференциях и выставках.'] %}
  <div class="section">
  <div class="features">
    {% for item in features %}
    <div class="features__item">
      <div class="features__item-title">{{ item }}</div>
    </div>
    {% endfor %}
  </div>
  </div>

{% set about = [{
  title: "170 человек в штате",
  text: ""
  },{
  title: "20+ человек в производстве",
  text: ""
  },{
  title: "20+ человек в отделе продаж",
  text: "Каждый – с химическим образованием, чтобы компетентно подбирать для вас решения"
  },{
  title: "20+ человек в лаборатории",
  text: "Из них 5 кандидатов химических и технических наук"
  },
] %}
  <div class="section">
  <div class="company">
    <img class="company__bg company__bg_type_xs" src="src/assets/img/company-mobile.png" alt="" />
    <img class="company__bg company__bg_type_sm" src="src/assets/img/company.png" alt="" />
    <div class="company__wrapper">
      {% for item in about %}
      <div class="company__item">
        <div class="company__item-title">{{ item.title }}</div>
        <div class="company__item-text">{{ item.text }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>

  <div class="section content content_fs_xl content_offset_bottom content_type_blockquote">
    <p>Мы продаем вам не приборы — мы продаем решения ваших задач, включающие в себя процессы от подбора необходимого оборудования и постановки (переноса) методики — до последнего дня эксплуатации каждого прибора с сопровождением последующей его продажи или утилизации.</p>
  </div>
</div>
</div>

{% set captions = ['О компании', 'Отзывы', 'Партнеры', 'Новости', 'Мероприятия', 'Контакты'] %}
{% set links = ['Аналитическое оборудование', 'Пробоподготовка', 'Общелабораторное оборудование', 'Оборудование для синтеза', 'Мебель', 'Расходные материалы'] %}
{% set phones = [{
  phone: "+7 (495) 136-21-74",
  city: "Москва"
  }, {
  phone: "+7 (831) 228-80-02",
  city: "Нижний Новгород"
  }, {
  phone: "+7 (843) 205-48-85",
  city: "Казань"
  }, {
  phone: "+7 (347) 246-23-97",
  city: "Уфа"
  }, {
  phone: "+7 (343) 382-40-01",
  city: "Екатеринбург"
  }, {
  phone: "+7 (423) 230-22-23",
  city: "Владивосток"
}] %}
<footer class="footer">
	<div class="footer__wrapper container">
		<div class="footer__aside">
			<a class="footer__logo" href="/">
				<img src="src/assets/img/logo-white.png" alt=""/>
				Продуманные решения<br/>
				для аналитических лабораторий
			</a>
			<nav class="footer__nav">
				{% for caption in captions %}
					<a class="footer__nav-link" href="#">{{ caption }}</a>
				{% endfor %}
			</nav>
			<nav class="footer__nav">
				<a class="footer__nav-link" href="#">Оборудование</a>
				{% for link in links %}
					<a class="footer__nav-link footer__nav-link_fs_sm" href="#">{{ link }}</a>
				{% endfor %}
			</nav>
		</div>
		<div class="footer__contacts">
      <div class="footer__contacts-wrapper">
        <a class="footer__contacts-phone" href="tel:+78123273700">+7 (812) 327-37-00</a>
        <a class="footer__link" href="#">Заказать обратный звонок</a>
      </div>

      <div class="footer__contacts-wrapper">
        <a class="footer__contacts-link" href="mailto:lc@labconcept.ru">lc@labconcept.ru</a>
        <div class="footer__contacts-text">Режим работы: ПН - ПТ, 9:30 - 18:00</div>
      </div>

      <div class="footer__contacts-text">Санкт-Петербург, В.О.,<br />26-я линия, д. 15, корп. 2, литера А, офис 9.08</div>

      <ul class="footer__contacts-list">
      {% for item in phones %}
        <li class="footer__contacts-text">
          <a class="footer__nav-link footer__nav-link_fs_sm" href="#">{{ item.phone }}</a> - {{ item.city }}
        </li>
      {% endfor %}
      </ul>
    </div>
		<div class="footer__disclaimer">Справочно-информационные и аналитические материалы, в частности, информация о товарах и услугах, размещённые на настоящем сайте, не является рекламой согласно Федеральному закону "О рекламе" от 13.03.2006 № 38-ФЗ.</div>
	</div>
	<div class="footer__bottom">
		<div class="footer__bottom-wrapper container">
			<div class="footer__copyright">ООО «Лабконцепт», 2021-2026</div>
			<a class="footer__link" href="#">Политика обработки персональных данных</a>
		</div>
	</div>
</footer>
